body {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    text-align: center;
    background-color: rgb(233, 204, 229);
}

.quadrado {
    border-radius: 10px;
    text-align: center;
    width: 50px;
    background: rgb(204, 180, 198);
    display: inline-block;
    padding: 40px;
    font-size: 40px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

.jogador, .vencedor {
    font-size: 26px;
    margin-top: 3px;
}

button {
    border-radius: 10%;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: rgb(204, 180, 198);
    cursor: pointer;
    font-size: 13px;
}

label{
    line-height: 0.06;
}
